.filtros-container {
  padding-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter-input {
  /* Hace que los campos crezcan horizontalmente por igual */
  flex: 1;
}

/* Ajuste fino para quitar el margen inferior extra de los form-fields de Angular Material */
::ng-deep .filter-input .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}
