<mat-card class="totals-card mat-elevation-z2">

  <div
    class="card-header"
    [ngClass]="{'bg-blue': title.toLowerCase().includes('species'), 'bg-green': title.toLowerCase().includes('types')}"
  >
    {{ title }}
  </div>

  <mat-card-content class="chip-container">
    <mat-chip-list>
      <app-chip
        *ngFor="let total of chipData"
        [color]="title.toLowerCase().includes('species') ? '#0a5377' : '#2e7d32'"
        [text]="total.key"
      >
      </app-chip>
    </mat-chip-list>
  </mat-card-content>

</mat-card>
