<mat-card class="totals-card mat-elevation-z2">

  <div
    class="card-header"
    [ngClass]="{'bg-blue': title.toLowerCase().includes('species'), 'bg-green': title.toLowerCase().includes('types')}"
  >
    {{ title }}
  </div>

  <mat-card-content class="chip-container">
    <mat-chip-list>
      <mat-chip
        *ngFor="let total of chipData"
        [ngClass]="{'chip-blue': title.toLowerCase().includes('species'), 'chip-green': title.toLowerCase().includes('types')}"
      >
        <span class="chip-name">{{ total.name }}:</span> &nbsp; <span class="chip-count">{{ total.count }}</span>
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>

</mat-card>
