<div class="contenedor-detalles">
  <ng-container *ngIf="{
    isLoading : _characterDetailsFacade.isLoading$ | async,
    characterFullDetails : _characterDetailsFacade.fullCharacterDetails$ | async
  } as vm">

    <div
      class="loading-wrapper"
      *ngIf="vm.isLoading"
    >
      <img
        src="assets/loading-hourglass.svg"
        alt="Cargando..."
        class="loading-image"
      />
      <p class="loading-text">Buscando en dimensiones alternativas...</p>
    </div>


    <div
      class="character-tarjeta"
      *ngIf="!vm.isLoading && vm.characterFullDetails as details ; else sinSeleccion"
    >



      <div class="tarjeta-header">
        <img
          [src]="details.character.image"
          [alt]="details.character.name"
          class="character-image"
          loading="lazy"
        >
        <h2>{{ details.character.name }}</h2>
      </div>

      <div class="lista-info">
        <p><strong>Species:</strong> {{ details.character.species }}</p>

        <p><strong>Origin:</strong> {{ details.originInfo.name }}</p>
        <p> -Origin Resident: {{ details.originInfo.resident }}</p>

        <p><strong>Location:</strong> {{ details.locationInfo.name }}</p>
        <p> -Location Resident: {{ details.locationInfo.resident }}</p>

        <p><strong>Aparition (Episode):</strong>
          <ng-container *ngIf="details.episode && details.episode.length > 0; else noEpisode">
            {{ details.episode[0]?.episode }} - {{ details.episode[0]?.name }}
          </ng-container>

          <ng-template #noEpisode>
            <span>Unknown</span>
          </ng-template>
        </p>
      </div>


    </div>


    <ng-template #sinSeleccion>
      <div class="noSelected">
        <h2>CHARACTER DETAILS</h2>
        <p>Please, first select a character from the list.</p>
      </div>
    </ng-template>

  </ng-container>

</div>
