<div class="contenedor-tabla">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>NAME</th>
        <th>STATUS</th>
        <th>SPECIES</th>
        <th>TYPE</th>
        <th>GENDER</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let char of characters"
        (click)="setSelectedCharacter(char)"
      >
        <!--  stopPropagation evita que el evento tambien se propague por toda la fila
           y no solo en esta celda donde ocurre la accion.
           Como pieda en un stanque, donde cae la piedra es el 'evento', y las olas resultantes
           son la propagacion hacia las demas celdas de la fila.
           -->
        <td (click)="toggleFavoriteCharacter(char); $event.stopPropagation()">
          <ng-container></ng-container>
          <span [ngStyle]=" ((_characterFavoriteStateService.favoriteCharacter$ |async)?.id === char.id)

                ? { opacity: '1', color: '#f19a0d', cursor: 'pointer' }
                : { opacity: '0.2', color: 'gray', cursor: 'pointer' }
            ">★</span>
        </td>
        <td>
          <span>
            <img
              [src]="char.image"
              [alt]="char.name"
              width="40"
              height="40"
            >
          </span>
        </td>
        <td>{{ char.name }}</td>
        <td>{{ char.status }}</td>
        <td>{{ char.species }}</td>
        <td>{{ char.type }}</td>
        <td>{{ char.gender }}</td>
        <td>{{ char.created | date: "dd/MMM/y h:mm:ss a" }}</td>
      </tr>
    </tbody>
  </table>
</div>
