<div
  class="loading-shade"
  *ngIf="isLoading"
>
  <mat-spinner></mat-spinner>
</div>

<div class="contenedor-tabla">
  <table
    mat-table
    [dataSource]="characters"
    class="mat-elevation-z8"
  >

    <ng-container matColumnDef="FAV">
      <th
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td
        mat-cell
        *matCellDef="let char"
        (click)="onToggleFavorite(char); $event.stopPropagation()"
      >
        <mat-icon [ngStyle]="(favoriteCharacterId === char.id)
            ? { color: '#f19a0d', cursor: 'pointer' }
            : { color: 'gray', opacity: '0.4', cursor: 'pointer' }">
          star
        </mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="IMG">
      <th
        mat-header-cell
        *matHeaderCellDef
      ></th>
      <td
        mat-cell
        *matCellDef="let char"
      >
        <app-avatar
          [imageUrl]="char.image"
          [characterName]="char.name"
          size="40px"
          [isCircular]="true"
        ></app-avatar>
      </td>
    </ng-container>

    <ng-container matColumnDef="NAME">
      <th
        mat-header-cell
        *matHeaderCellDef
      > NAME </th>
      <td
        mat-cell
        *matCellDef="let char"
      > {{ char.name }} </td>
    </ng-container>

    <ng-container matColumnDef="STATUS">
      <th
        mat-header-cell
        *matHeaderCellDef
      > STATUS </th>
      <td
        mat-cell
        *matCellDef="let char"
      > {{ char.status }} </td>
    </ng-container>

    <ng-container matColumnDef="SPECIES">
      <th
        mat-header-cell
        *matHeaderCellDef
      > SPECIES </th>
      <td
        mat-cell
        *matCellDef="let char"
      > {{ char.species }} </td>
    </ng-container>

    <ng-container matColumnDef="TYPE">
      <th
        mat-header-cell
        *matHeaderCellDef
      > TYPE </th>
      <td
        mat-cell
        *matCellDef="let char"
      > {{ char.type || 'N/A' }} </td>
    </ng-container>

    <ng-container matColumnDef="GENDER">
      <th
        mat-header-cell
        *matHeaderCellDef
      > GENDER </th>
      <td
        mat-cell
        *matCellDef="let char"
      > {{ char.gender }} </td>
    </ng-container>

    <ng-container matColumnDef="CREATED">
      <th
        mat-header-cell
        *matHeaderCellDef
      > CREATED </th>
      <td
        mat-cell
        *matCellDef="let char"
      > {{ char.created | date:'shortDate' }} </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="tableColumns; sticky: true"
    ></tr>

    <tr
      mat-row
      *matRowDef="let row; columns: tableColumns;"
      (click)="onSelectCharacter(row)"
      [class.selected-row]="row.id === selectedCharacterId"
    >
    </tr>
  </table>
</div>
