<header class="main-header">

  <!-- Aplicando el patron backrop para poder cerrar el menu lateral al hacer click fuera de él -->
  <div
    class="sidebar-backdrop"
    *ngIf="isSideBarOpen"
    (click)="closeSideBar()"
  ></div>

  <aside [class.sidebar-abierto]="isSideBarOpen">
    <router-outlet name="sidebar"></router-outlet>
  </aside>

  <div class="left-section">

    <button
      mat-icon-button
      class="menu-button"
      title="Abrir menú lateral"
      (click)="openSideBar()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <section class="favorito-section">
      <span class="section-title">★ MY FAVORITE CHARACTER</span>
      <div
        class="header-favorito"
        *ngIf="_characterFavoriteStateService.favoriteCharacter$ | async as favorito ; else sinFavorito"
      >
        <div
          class="primary-section"
          style="cursor: pointer;"
          (click)="toggleCharacterextraInfo()"
        >
          <app-avatar
            [imageUrl]="favorito.image"
            [characterName]="favorito.name"
            size="50px"
            [isCircular]="false"
          ></app-avatar>

          <div class="character-block">
            <h2 class="character-name">{{favorito.name}}</h2>
          </div>
        </div>

        <div
          class="info-section"
          [ngStyle]="showCharacterExtraInfo ? {'visibility': 'visible'} : {'visibility': 'hidden'}"
        >
          <p><strong>Origin: </strong> {{favorito.origin.name}} </p>
          <p><strong>Gender: </strong> {{favorito.gender}} </p>
          <p><strong>Especies: </strong> {{favorito.species}} </p>
        </div>
      </div>
    </section>
  </div>

  <div class="actions-section">
    <section>
      <div class="api-toggle-wrapper">
        <span
          class="mode-label"
          [class.active]="apiConfig.currentMode === 'REST'"
        >REST</span>

        <mat-slide-toggle
          [checked]="apiConfig.currentMode ==='GRAPHQL'"
          (change)="apiConfig.toggleApiMode()"
          aria-label="Cambiar fuente de datos"
        >
        </mat-slide-toggle>

        <span
          class="mode-label"
          [class.active]="apiConfig.currentMode === 'GRAPHQL'"
        >GraphQL</span>
      </div>
    </section>

    <button
      mat-flat-button
      color="warn"
      (click)="onLogout()"
      style="font-weight: bold; font-size: 12px;"
    >
      Cerrar Portal (Logout)
    </button>
  </div>

</header>




<ng-template #sinFavorito>
  <div style="padding-left: 10px;">
    <h2>No favorite character yet.</h2>.
  </div>
</ng-template>
