<div class="sidebar-container">

  <div class="user-profile-section">
    <ng-container *ngIf="currentUser$ | async as user">
      <div class="avatar-wrapper">
        <app-avatar
          [imageUrl]="user?.avatarUrl || 'https://rickandmortyapi.com/api/character/avatar/104.jpeg'"
          [isCircular]="true"
          size="60px"
        >
        </app-avatar>
      </div>
      <div class="user-info">
        <span class="user-name">{{user?.name}}</span>
        <span class="user-role">{{user?.role}}</span>
      </div>
    </ng-container>
  </div>

  <mat-divider class="sidebar-divider"></mat-divider>

  <mat-nav-list class="navigation-list">
    <ng-container *ngFor="let item of menuItems$  | async">
      <a
        mat-list-item
        [routerLink]="[item.route]"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{exact: true}"
        class="nav-item"
      >
        <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
        <div
          mat-line
          class="nav-text"
        >{{item.label}}</div>
      </a>
    </ng-container>
  </mat-nav-list>

</div>
