<div class="footer-contenedor">

  <div
    *ngIf="isLoadingTotals"
    class="loading-message"
  >
    <span>⏳ Calculando totales... </span>
  </div>

  <div
    *ngIf="!isLoadingTotals"
    class="footer-main"
  >

    <app-character-footer-totals
      title="Total of species"
      [chipData]="speciesTotales"
    ></app-character-footer-totals>

    <div class="dividor"></div>

    <app-character-footer-totals
      title="Total of types"
      [chipData]="typesTotales"
    ></app-character-footer-totals>

    <div class="dividor"></div>

  </div>
</div>
