:host {
  display: block;
  width: 100%;
}

.pagination-container {
  display: flex;
  justify-content: flex-end;
  /* Alinea la paginación a la derecha */
  padding: 10px 0;
  width: 100%;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  /* Pequeña separación entre botones Material */
}

/* Reducimos un poco el ancho mínimo de los botones de número para que se vean más compactos */
.number-button {
  min-width: 40px !important;
  padding: 0 8px !important;
}

.pagination-ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  margin: 0 4px;
}

/* Color negro puro para las flechas */
.nav-arrow {
  color: #000000;
}

/* Forzar que las flechas deshabilitadas se vean grises (por accesibilidad) */
button[disabled] .nav-arrow {
  color: rgba(0, 0, 0, 0.26);
}

::ng-deep .active-page.mat-flat-button {
  background-color: #007bff !important;
  color: white !important;
}