<div
  class="avatar-container"
  [style.width]="size"
  [style.height]="size"
  [style.border-radius]="isCircular ? '50%' : borderRadius"
  ;
>

  <div
    class="initials-placeholder"
    *ngIf="!isImageLoaded || hasError"
  >
    {{ computedInitials }}
  </div>

  <img
    *ngIf="computedImageUrl && !hasError"
    [src]="computedImageUrl"
    [alt]="characterName"
    [attr.width]="numericSize"
    [attr.height]="numericSize"
    (load)="onImageLoad()"
    (error)="onImageLoadError()"
    [class.visible]="isImageLoaded"
    loading="lazy"
    decoding="async"
  >
</div>
