<!--
 <div class="pagination">
  <button
    (click)="previewPage()"
    [disabled]="currentPage === 1 || loadingInformation"
  >Anterior</button>

  <span>Página {{currentPage}} de {{totalPages}}</span>

  <button
    (click)="nextPage()"
    [disabled]="currentPage=== totalPages || loadingInformation"
  >Siguiente</button>
</div>

<button
  (click)="getAllCharacters()"
  [disabled]="loadingInformation"
>Cargar todos los personajes</button>
<div class="character-grid">

  <div *ngFor="let char of listCharacters | async">
    <img
      [src]="char.image"
      [alt]="char.name"
      width="50"
    >
    <h3>{{char.name}}</h3>
  </div>

</div>
 -->

<div>

  <input
    type="text"
    placeholder="Search by name..."
    [formControl]="searchByName"
  >
  <button
    (click)="searchByName.setValue('')"
    *ngIf="searchByName.value"
  >X</button>


  <label> Status Filter </label>
  <select [formControl]="searchByStatus">
    <option value="">Default</option>
    <option value="alive">Alive</option>
    <option value="dead">Dead</option>
    <option value="unknown">Unknown</option>
  </select>
</div>

<div class="contenedor-tabla">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>NAME</th>
        <th>STATUS</th>
        <th>SPECIES</th>
        <th>TYPE</th>
        <th>GENDER</th>
        <th>CREATED</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let char of listCharacters | async">
        <td (click)="toggleFavoriteCharacter(char)">
          <span
            [ngStyle]="verificarFavoriteCharacter(char.id) ? {'opacity': '1', 'color': '#f19a0d', 'cursor': 'pointer'} : {'opacity': '0.2', 'color': 'gray', 'cursor': 'pointer'}"
          >★</span>
        </td>
        <td>{{char.name}}</td>
        <td>{{char.status}}</td>
        <td>{{char.species}}</td>
        <td>{{char.type}}</td>
        <td>{{char.gender}}</td>
        <td>{{char.created | date: 'dd/MMM/y h:mm:ss a'}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="pagination">
  <button
    (click)="previewPage()"
    [disabled]="currentPage === 1 || loadingInformation"
  >Anterior</button>

  <span> Página {{currentPage}} de {{totalPages}} </span>

  <button
    (click)="nextPage()"
    [disabled]="currentPage=== totalPages || loadingInformation"
  >Siguiente</button>
</div>
