:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Ocupa todo el alto que le da su padre (.column-left) */
}

/* Clases para ordenar un poco tus filtros y botones */
.filtros-container {
  padding-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.paginacion-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  /* Centra los botones de paginación */
  align-items: center;
  gap: 15px;
}
