/* Bloqueamos el tamaño al 100% de la pantalla y prohibimos el scroll global */
.pantalla-completa {
  height: 100vh; /*100 de la pantalla (ViewPort Height)*/
  display: flex;
  flex-direction: column;
  /* Esto es como poner resizable=false en Java, evitamos que se empuje la pantalla */
  overflow: hidden;
}

.contenedor-top {
  height: 10vh;
  background-color: #f1f1f1;
}

.contenedor-central {
  height: 80vh;
  display: flex;
  padding: 10px;
  gap: 20px;
}

.contenedor-bottom {
  height: 10vh;
  background-color: #333;
  color: white;
}

.column-left {
  flex: 1;
  /* Le decimos que no puede ser más grande que su contenedor padre */
  height: 100%;
  display: flex;
  flex-direction: column;
}

.column-rigth {
  flex: 1;
  height: 100%;
}
