<div class="footer-contenedor">

  <div
    *ngIf="isLoadingTotals$ |async"
    class="loading-message"
  >
    <mat-spinner diameter="24"></mat-spinner>
    <span>⏳ Calculando totales... </span>
  </div>

  <div
    *ngIf="(totals$ |async) as totals"
    class="footer-main"
  >
    <app-totals-footer
      title="Total of species"
      [chipData]="totals.totalOfSpecies"
    ></app-totals-footer>

    <div class="dividor"></div>

    <app-totals-footer
      title="Total of types"
      [chipData]="totals.totalOfTypes"
    ></app-totals-footer>

  </div>
</div>
