.footer-contenedor {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Separa el spinner del texto */
  gap: 10px;
  color: #ff9800;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 10px;
}

/* El contenedor que contendrá dos paneles */
.footer-main {
  display: flex;
  height: 100%;
  width: 100%;
  /* Espacio entre paneles*/
  gap: 15px;
  /* Obliga a que ambos tengan la misma altura */
  align-items: stretch;
  min-height: 0;
}

/* Solo para agregar otra pequeña separacion entre mis dos paneles*/
.dividor {
  width: 3px;
  height: 100%;
}

/* --- RESPONSIVE DESIGN --- */
@media (max-width: 768px) {

  /* Apilamos las tarjetas de totales de Especies y Tipos */
  .footer-main {
    flex-direction: column;
    height: auto;
    /* Damos un espacio entre las tarjetas */
    gap: 15px;
  }
}
