<div class="character-view-container">

  <section class="column-left">

    <div class="filtros-container">
      <input
        type="text"
        placeholder="Search by name..."
        [formControl]="searchByName"
      />
      <button
        (click)="searchByName.setValue('')"
        *ngIf="searchByName.value"
      >
        X
      </button>

      <label> Status Filter </label>
      <select [formControl]="searchByStatus">
        <option value="">Default</option>
        <option value="alive">Alive</option>
        <option value="dead">Dead</option>
        <option value="unknown">Unknown</option>
      </select>
    </div>

    <ng-container *ngIf="{
        listCharacters: (_characterListFacade.listCharacter$ | async) ?? [],
        currentPage: (_characterListFacade.currentPage$ | async) ?? 1,
        isLoadingInformation: (_characterListFacade.isLoadingInformation$ | async) ?? false,
        totalPages: (_characterListFacade.totalPages$ | async) ?? 1
      } as pagination">

      <app-character-table
        [characters]="pagination.listCharacters"
        [isLoading]="pagination.isLoadingInformation"
      ></app-character-table>

      <div class="paginacion-container">
        <app-pagination
          [currentPage]="pagination.currentPage"
          [totalPages]="pagination.totalPages"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </ng-container>

  </section>

  <section class="column-right">
    <app-character-details></app-character-details>
  </section>

</div>
