:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Ocupa todo el alto que le da su padre (.column-left) */
}

/* Clases para ordenar un poco tus filtros y botones */
.filtros-container {
  padding-bottom: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.paginacion-container {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  /* Centra los botones de paginación */
  align-items: center;
  gap: 15px;
}


/* Contenedor que agrupa ambas columnas */
.character-view-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 20px;
  /* Separación entre la tabla y los detalles */
}

/* Columna Izquierda (Tabla) */
.column-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
  /* Truco de Tech Lead: evita que la tabla rompa el flexbox si crece mucho */
}

/* Columna Derecha (Detalles) */
.column-right {
  flex: 1;
  height: 100%;
  min-width: 0;
}
