<div class="character-view-container">

  <section class="column-left">

    <div class="filtros-container">
      <mat-form-field
        appearance="outline"
        class="filter-input"
      >
        <mat-label>Search by name...</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          [formControl]="searchByName"
        >

        <button
          mat-icon-button
          matSuffix
          (click)="searchByName.setValue('')"
          *ngIf="searchByName.value"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="filter-input"
      >
        <mat-label>Status Filter</mat-label>
        <mat-select [formControl]="searchByStatus">
          <mat-option value="">Default</mat-option>
          <mat-option value="alive">Alive</mat-option>
          <mat-option value="dead">Dead</mat-option>
          <mat-option value="unknown">Unknown</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <ng-container *ngIf="{
        listCharacters: (_characterListFacade.paginationCharacters$ | async) ?? [],
        currentPage: (_characterListFacade.currentPage$ | async) ?? 1,
        isLoadingInformation: (_characterListFacade.isLoadingInformation$ | async) ?? false,
        totalPages: (_characterListFacade.totalPages$ | async) ?? 1
      } as pagination">

      <app-character-table
        [characters]="pagination.listCharacters"
        [isLoading]="pagination.isLoadingInformation"
        [favoriteCharacterId]="(_characterFavoriteFacade.favoriteCharacter$ | async)?.id"
        [selectedCharacterId]="(_characterListFacade.currentCharacter$ | async)?.id"
        (toggleFavorite)="onToggleFavorite($event)"
        (selectCharacter)="onSelectCharacter($event)"
      ></app-character-table>

      <div class="paginacion-container">
        <app-pagination
          [currentPage]="pagination.currentPage"
          [totalPages]="pagination.totalPages"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </ng-container>

  </section>

  <section class="column-right">
    <app-character-details></app-character-details>
  </section>

</div>
