<div class="character-view-container">

  <section class="column-left">

    <app-character-filter (filterChange)="onFilterCriteriaChange($event)"></app-character-filter>

    <ng-container *ngIf="{
        listCharacters: (_characterListFacade.paginationCharacters$ | async) ?? [],
        currentPage: (_characterListFacade.currentPage$ | async) ?? 1,
        isLoadingInformation: (_characterListFacade.isLoadingInformation$ | async) ?? false,
        totalPages: (_characterListFacade.totalPages$ | async) ?? 1
      } as pagination">

      <app-character-table
        [characters]="pagination.listCharacters"
        [isLoading]="pagination.isLoadingInformation"
        [favoriteCharacterId]="(_characterFavoriteFacade.favoriteCharacter$ | async)?.id"
        [selectedCharacterId]="(_characterListFacade.currentCharacter$ | async)?.id"
        (toggleFavorite)="onToggleFavorite($event)"
        (selectCharacter)="onSelectCharacter($event)"
      ></app-character-table>

      <div class="paginacion-container">
        <app-pagination
          [currentPage]="pagination.currentPage"
          [totalPages]="pagination.totalPages"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </ng-container>

  </section>

  <section class="column-right">
    <app-character-details></app-character-details>
  </section>

</div>
