<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <mat-card-title class="login-tittle">
        CONTROL DE ACCESO MULTIVERSAL
      </mat-card-title>
    </mat-card-header>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="login-form"
    >
      <mat-form-field
        appearance="outline"
        class="full-width"
      >
        <mat-label>Correo de la Federación/Citadel</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          placeholder="ejemplo@citadel.com"
          autocomplete="username"
        >
        <mat-icon
          matSuffix
          color="primary"
        >email</mat-icon>
        <mat-error *ngIf="emailControl?.hasError('required')">El correo es obligatorio</mat-error>
        <mat-error *ngIf="emailControl?.hasError('email')">El formato del correo no es válido</mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="full-width"
      >
        <mat-label>Clave de Encriptación</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
          autocomplete="current-password"
        >
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          aria-label="Alternar visibilidad de contraseña"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordControl?.hasError('required')">La contraseña es obligatoria</mat-error>
        <mat-error *ngIf="passwordControl?.hasError('minlength')">Mínimo 3 caracteres</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="submit-btn"
        [disabled]="loginForm.invalid"
      >
        Ingresar al Portal
      </button>

    </form>

    <div class="account-box">
      *Cuentas válidas en memoria:<br>
      rick&#64;citadel.com (Clave: 123) | morty&#64;citadel.com (Clave: 456) | jerry&#64;citadel.com (Clave: 789)
    </div>
  </mat-card>

</div>
