/* Quitar los márgenes por defecto del navegador */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Le decimos a TODOS los elementos (*) que incluyan el padding y los bordes dentro de su tamaño total,
evitando que los contenedores crezcan sin control. */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ==========================================================================
   UTILIDADES GLOBALES (UI)
   ========================================================================== */

/* --- OVERLAY PARA CARGAS [Loading...] (Capa superpuesta) --- */
.overlay-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(2px);
  border-radius: inherit;
  /* Hereda el borde del contenedor padre */
}

.overlay-loading p {
  margin-top: 15px;
  color: #007bff;
  font-weight: bold;
}

/* --- SPINNER CSS PURO --- */
.css-spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
